<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ConfigDialog">
		<size>234,287</size>
		<id_arg>0</id_arg>
		<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
			<pos>0,0</pos>
			<size>232,216</size>
			<handler function="OnNotebook1PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
						<value>Text</value>
						<maxlength>64</maxlength>
						<pos>8,32</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Output file:</label>
						<pos>8,8</pos>
						<size>80,13</size>
					</object>
					<object class="wxRadioBox" name="ID_CallC" variable="RadioBoxCC" member="yes">
						<label>Calling Convection</label>
						<content>
							<item>none</item>
							<item>stdcall</item>
							<item>cdecl</item>
						</content>
						<default>-1</default>
						<pos>8,64</pos>
						<size>104,88</size>
					</object>
				</object>
				<label>Basic</label>
			</object>
		</object>
		<object class="wxButton" name="ID_OK" variable="Ok" member="yes">
			<label>Ok</label>
			<pos>40,240</pos>
			<handler function="OnOkClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="wxID_CANCEL" variable="Cancel" member="yes">
			<label>Cancel</label>
			<pos>136,240</pos>
		</object>
		<object class="wxDirDialog" variable="DirDialog1" member="yes">
			<message>Select directory</message>
		</object>
	</object>
</wxsmith>
